{% extends 'base.html.twig' %}


{% block title %}Poker Challenge{% endblock %}


{% block body %}


    <div class="table">
        {# Game over view #}
            {% if game_over %}
                <div class="end-box">
                    
                    {% if result > 0 %}
                    <h1>Your result was: +{{ result }} USD.</h1>
                    <h1> Good job!</h1>
                </div>
                <img class="end-img" src="{{ asset('build/images/teddy.gif') }}" alt="result pic">
                    {% else %}
                    <h1>Your result was: {{ result }} USD.</h1>
                    <h1> Bad job!</h1>

                </div>
                <img class="end-img" src="{{ asset('build/images/loss.gif') }}" alt="result pic">

                    {% endif %}

            {% endif %}

        {# Showdown view #}
        {% if is_showdown %}

                <h3>{{teddy_stack}} USD</h3>
                <div class="player-box">
                    <img class="player-img" src="{{ asset('build/images/teddy.jpg') }}" alt="me">

                    <div class="card-box">
                    {% for img in teddy_hand %}
                        <img class="card-img" src="{{ asset('build/images/' ~ img) }}" alt="card">    {% endfor %}
                    </div>
                <h4 class="blind">{{teddy_pos}}</h4>

                </div>
                <h4>{{teddy_hand_strength}}</h4>


                <div class="board-box">
                    {% for img in board %}
                        <img class="community-card" src="{{ asset('build/images/' ~ img) }}" alt="card">
                    {% endfor %}
                </div>

                <div class="pot-box">
                    <h3>{{ winner }} takes the{{pot_size}} pot </h3>
                </div>



                <h4>{{mike_hand_strength}}</h4>
                <div class="player-box">
                    <img class="player-img" src="{{ asset('build/images/mike.jpg') }}" alt="me">

                    <div class="card-box">
                    {% for img in mike_hand %}
                        <img class="card-img" src="{{ asset('build/images/' ~ img) }}" alt="card">    {% endfor %}
                    </div>
                <h4 class="blind">{{mike_pos}}</h4>
                </div>
                <h3>{{mike_stack}} USD</h3>
            {% if is_showdown and not game_over %}

                <div class="options-box">
                <form method="post" action="{{ path('gamble_play') }}">
                    <input type="hidden" name="action" value="next">
                    <input type="submit" value="Next Hand" class="fold-button">
                </form>

                </div>
            {% endif %}

            </div>
        {% endif %}

        {# Regular play view #}
        {% if not game_over and not is_showdown %}
                <h3>{{teddy_stack}} USD</h3>
                <div class="player-box teddy-box">

                    <img class="player-img" src="{{ asset('build/images/teddy.jpg') }}" alt="me">

                    <div class="card-box">
                        <img class="card-img" src="{{ asset('build/images/card_back.svg') }}" alt="card">
                        <img class="card-img" src="{{ asset('build/images/card_back.svg') }}" alt="card">
                    </div>
                    <h4 class="blind">{{teddy_pos}}</h4>

                </div>
                {% if teddy_bet != 0 %}
                    <h4> Bet: {{ teddy_bet }}</h4>
                {% elseif teddy_last_action is same as "check" %}
                    <h4>Check!</h4>
                {% elseif teddy_last_action is same as "call" %}
                    <h4>Call!</h4>
                {% endif %}

                <div class="board-box">
                    {% for img in board %}
                        <img class="community-card" src="{{ asset('build/images/' ~ img) }}" alt="card">
                    {% endfor %}
                </div>


                <div class="pot-box">
                    <h3>{{pot_size}} dollars is in the pot</h3>
                </div>
                {% if mike_bet != 0 %}
                    <h4> Bet: {{ mike_bet }}</h4>
                {% endif %}

                <div class="player-box">
                    <img class="player-img" src="{{ asset('build/images/mike.jpg') }}" alt="me">

                    <div class="card-box">
                    {% for img in mike_hand %}
                        <img class="card-img" src="{{ asset('build/images/' ~ img) }}" alt="card">    
                    {% endfor %}
                    </div>
                    <h4 class="blind">{{mike_pos}}</h4>
                </div>
                <h3>{{mike_stack}} USD </h3>

                <div class="options-box">
                    <!-- Fold Button -->
                <form method="post" action="{{ path('gamble_play') }}">
                    <input type="hidden" name="action" value="fold">
                    <input type="submit" value="Fold" class="fold-button">
                </form>

                {# Call Button #}
                {% if price == 0 %}
                    <form method="post" action="{{ path('gamble_play') }}">
                        <input type="hidden" name="action" value="check">
                        <input type="submit" value="Check" class="call-button">
                    </form>
                {% else %}
                    <form method="post" action="{{ path('gamble_play') }}">
                        <input type="hidden" name="action" value="call">
                        <input type="submit" value="Call {{ price }}" class="call-button">
                    </form>
                {% endif %}

                    <!-- Bet/Raise Button with Number Input -->
                    <form method="post" action="">
                        <button type="submit" name="bet_button" class="raise-button"
                                onClick="this.form.action='{{ path('gamble_play') }}';">Bet/Raise</button>
                        <input type="number" name="bet" value="0" min={{min_raise}} class="bet-input">
                    </form>

                </div>

        {% endif %}
            </div>

{% endblock %}