<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        {# <header class="site-header" style="background-image: url({{ asset('img/background.jpg') }})"> #}
        <header class="site-header" >
            <h1 class="site-title">Kursen MVC</h1>

            <nav>
                <li><a href="{{ path('me') }}">Me</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('lucky_number') }}">Lucky</a></li>
            </nav>
        </header>


        <main class="main">

        {% block body %}{% endblock %}
        </main>

        <footer>
        <p>Jag är i footern</p>
        </footer>

    </body>
</html>
