<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/clubs_ace.svg') }}">
        <link rel="stylesheet" href="{{ asset('test.css') }}">

        {# {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %} #}

        {# {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %} #}
    </head>
    <body>

        {# <header class="site-header" style="background-image: url({{ asset('img/background.jpg') }})"> #}
        <header class="site-header" >
            <h1 class="site-title">Kursen MVC</h1>

            <nav>
                <li><a href="{{ path('me') }}">Me</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('lucky_card') }}">Lucky</a></li>
                <li><a href="{{ path('api') }}">API routes</a></li>
                <li><a href="{{ path('card') }}">Card</a></li>
                <li><a href="{{ path('game_init_get') }}">Game</a></li>
            </nav>
        </header>


        <main class="main">

        {% block body %}{% endblock %}
        </main>

        <footer>

            <div class="footer-content">
                <h2>Läs om Poker</h2>
            <div class="social-icons">
                <a href="https://en.wikipedia.org/wiki/Poker">Poker</a>
                <a href="https://www.winamax.fr/en/poker-school_rules_pot-limit-omaha-4-card">Pot Limit Omaha</a>
            </div>
            </div>
        </footer>
    </body>
</html>
