{% extends 'base.html.twig' %}

{% block title %} {{ book.title }} {% endblock %}

{% block body %}

<div class="doc">

    <div class="single-box">
        <h1> {{ book.title}} </h1>
        <h3>by {{ book.author}} </h3>
        <p> {{ book.description }} </p>
        {% if book.publishedYear is not empty %}
            <p>Publication year: {{ book.publishedYear }}</p>
        {% endif %}

        <img class="single-book" src="{{ asset('build/images/' ~ book.img) }}" alt="book">
        <div class="button-container">
            <a href="{{ path('update_book', {'id': book.id}) }}"><button class="button">Update</button></a>
            <form action="{{ path('delete_book', {'id': book.id}) }}" method="post">
                <button class="button" type="submit">Delete</button>
            </form>        
        </div>

    </div>


</div>

{% endblock %}