{% extends 'base.html.twig' %}

{% block title %} {{ book.title }} {% endblock %}

{% block body %}

<div class="doc">

    <div class="single-box">
        <div class="nav-button-container">
            {% if book.id != firstId %}
                <a href="{{ path('read_one', {'id': prevId}) }}">
                    <button class="button small-button" type="submit">&larr;</button>
                </a>
            {% else %}
                <div class="empty-div"></div>
            {% endif %}
            {% if nextId is not null and nextId is not empty %}
                <a href="{{ path('read_one', {'id': nextId}) }}">
                    <button class="button small-button" type="submit">&rarr;</button>
                </a>
            {% endif %}

        </div>
        <h1> {{ book.title}} </h1>
        <h3>by {{ book.author}} </h3>
        <p> {{ book.description }} </p>


        <img class="single-book" src="{{ asset('build/images/' ~ book.img) }}" alt="book">
        {% if book.publishedYear is not empty %}
            <p>Publication year: {{ book.publishedYear }}</p>
        {% endif %}
        <div class="button-container">
            <a href="{{ path('update_book', {'id': book.id}) }}"><button class="button">Update</button></a>
            <form action="{{ path('delete_book', {'id': book.id}) }}" method="post">
                <button class="button" type="submit">Delete</button>
            </form>        
        </div>

    </div>


</div>

{% endblock %}