{% extends 'base.html.twig' %}

{% block title %}Poker Challenge{% endblock %}


{% block body %}


    <h1>{{ villain }} VS {{ hero }}</h1>
    <h2>{{hands_played}} hands out of {{ duration }} has been played</h2>
    <h2>{{pot_size}} dollars is in the pot</h2>



{% endblock %}