{% extends 'base.html.twig' %}


{% block title %}Poker Challenge{% endblock %}


{% block body %}


    <div class="table">

        <h3>{{teddy_stack}} USD</h3>
        <h4>{{teddy_pos}}</h4>
        <div class="player-box">
            <img class="player-img" src="{{ asset('build/images/teddy.jpg') }}" alt="me">

            <div class="card-box">
            {% for img in teddy_hand %}
                <img class="card-img" src="{{ asset('build/images/' ~ img) }}" alt="card">    {% endfor %}
            </div>
        </div>
        <h4>{{teddy_bet}}</h4>


        <div class="pot-box">
            <h3>{{pot_size}} dollars is in the pot</h3>
        <h4>{{price}}</h4>
            
        </div>
        <h4>{{mos_bet}}</h4>

        <div class="player-box">
            <img class="player-img" src="{{ asset('build/images/good_hand.png') }}" alt="me">

            <div class="card-box">
            {% for img in mos_hand %}
                <img class="card-img" src="{{ asset('build/images/' ~ img) }}" alt="card">    {% endfor %}
            </div>
        </div>
        <h3>{{mos_stack}} USD</h3>
        <h4>{{mos_pos}}</h4>
        <div class="options-box">
        {# <div class="fold-button">
        Fold
        </div>
        <div class="call-button">
        Call
        </div>
        <div class="raise-button">
        Raise
        </div> #}
    <!-- Fold Button -->
    <form method="post" action="">
        <input type="submit" name="fold" value="Fold" class="fold-button"
                onClick="this.form.action='{{ path('fold') }}';">
    </form>

    {# Call Button #}
    {% if price == 0 %}
        <form method="post" action="">
            <input type="submit" name="check" value="Check" class="call-button"
                onClick="this.form.action='{{ path('check') }}';">
        </form>
    {% else %}
        <form method="post" action="">
            <input type="submit" name="call" value="Call {{ price }}" class="call-button"
                onClick="this.form.action='{{ path('call') }}';">
        </form>
    {% endif %}


    <!-- Bet/Raise Button with Number Input -->
    <form method="post" action="">
        <button type="submit" name="bet_button" class="raise-button"
                onClick="this.form.action='{{ path('bet') }}';">Bet/Raise</button>
        <input type="number" name="bet" value="0" min="50" class="bet-input">
    </form>
        </div>
    </div>





{% endblock %}